{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Lobster&family=Shrikhand&Oswald:ital,wght@0,300..800;1,300..800&Popins&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="shortcut icon" href="https://img.icons8.com/small/64/fire-heart.png" type="image/x-icon">
    <title>Fire Heart Blog</title>
</head>

<body class="bg-gray-200">
    {% include 'header.html' %}
    <div class="mx-auto min-h-screen">
        {% block content %}
        {% endblock content %}
    </div>
    {% include 'footer.html' %}
</body>

</html>