<footer class="bg-gray-800 h-auto mt-auto">
    <div class="flex px-8 py-3 items-center justify-between text-white">
        <!-- logo -->
        <div class="flex items-center justify-center gap-1 text-md font-shrikhand">
            <img class="h-6 -mt-1" src="https://img.icons8.com/small/64/ffffff/fire-heart.png" alt="">
            <p>FireHeart</p>
        </div>
        <!-- copyright -->
        <div class="text-xs text-gray-300 font-popins">
            &copy; All rights reserved, Sunil S. Singh, 2024
        </div>
    </div>
</footer>