{% load static %}
<section
    class="py-16 text-center bg-gray-700 bg-blend-overlay bg-[url('/static/images/bg.jpg')] bg-cover bg-center mb-4">
    <h1 class="text-white font-lobster font-bold text-5xl mb-2">Blogs From Heart</h1>
    <div class="text-white font-oswald text-lg text-center mx-8 mb-6">
        <p>Write from heart & feel from soul... thats the moto of
            our blog community. Go ahead ans share your experiences.
        </p>
        <p>Have a look at some of the latest and most interesting blog articles below.</p>
    </div>
    <div class="font-semibold text-sm text-white hover:scale-105">
        <a class="bg-sky-600 px-3 py-2 rounded-md hover:bg-sky-800 " href="#">
            Get Blogging
        </a>
    </div>
</section>